<div style="text-align: center;">
    <h1>1. Final Challenge: <a href="/Shastra-9A-challenges/9A-challenge1">View Leaderboard</a></h1>
    <h1>2. Games Of Arrays: <a href="/Shastra-9A-challenges/9A-challenge2">View Leaderboard</a></h1>
    <h1>3. Dream String: <a href="/Shastra-9A-challenges/9A-challenge3">View Leaderboard</a></h1>
</div>